body {
  padding: 0px;
  margin: 0px;
  background-image: url("./wallpaper2.jpg  ");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  body {
    background-image: url("./wallpaper2-Mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
